__pycache__
# *.pyc
# /datasets/ml*
# /datasets/
# /datasets/social/*
# M_*
# *.csv
# *.so
# */__pycache__/*
# */__pycache__/*.pyc

# params
# plots
# .idea
# IMP
# */*.npy
# *.npy
# *.pth
# *.pt
# *.eps
# *.jpg
# *.png
# *.ttf
# *.tar.gz
# *.zip
# *.xlsx
# *.0
# *.pkl.DS_Store

# macOS
.DS_Store
.AppleDouble

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Env
.env
.env.local

# Node
node_modules/

# IDE
.vscode/
.idea/
